examples/jupyter/trips_data/7-03-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-27-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-24-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-29-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-12-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-23-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-05-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-14-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-16-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-05-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-14-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-06-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-14-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-25-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-03-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-07-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-26-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-28-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-02-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-21-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-13-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-17-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-29-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-06-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-02-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-16-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-17-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-13-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-01-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-02-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-10-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-08-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-01-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-09-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-17-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-07-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-09-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-19-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-12-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-30-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-01-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-10-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-11-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-18-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-07-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-19-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-20-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-24-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-25-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-28-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-30-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-31-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-04-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-25-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-06-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-31-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-13-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-11-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-08-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-12-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-22-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-27-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-22-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-26-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-29-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-19-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-27-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-24-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-03-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-21-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-15-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-18-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-28-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-30-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-04-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-09-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-11-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-15-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-20-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-21-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-22-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-05-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-15-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-20-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-08-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-10-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/7-23-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-16-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-18-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-23-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/8-26-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/trips_data/9-04-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-02 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-25 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-15 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-20 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-02 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-23 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-26 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-27 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-05 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-07 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-13 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-20 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-11 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-09 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-31 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-14 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-07 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-13 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-22 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-04 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-08 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-07 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-22 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-09 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-19 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-21 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-08 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-10 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-10 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-24 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-20 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-28 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-12 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-19 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-30 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-11 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-12 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-27 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-28 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-11 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-26 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-29 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-08 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-14 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-01 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-19 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-25 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-03 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-10 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-16 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-06 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-17 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-09 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-18 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-24 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-04 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-14 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-17 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-15 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-22 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-28 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-06 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-15 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-21 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-29 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-04 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-21 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-30 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-18 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-26 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-29 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-02 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-03 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-13 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-01 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-03 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-18 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-23 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-27 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-07-31 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-12 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-24 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-05 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-17 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-08-23 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-01 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-05 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-06 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-25 filter=lfs diff=lfs merge=lfs -text
examples/jupyter/weather_data/2016-09-30 filter=lfs diff=lfs merge=lfs -text
