repos:
  - repo: https://github.com/psf/black
    rev: 21.5b0
    hooks:
      - id: black
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.1
    hooks:
      - id: flake8
        language_version: python3
  - repo: local
    hooks:
    - id: proto_lint
      name: proto_lint
      language: system
      entry: etc/proto_lint/proto_lint.py
